.button {
  cursor: pointer;

  &.plain {
    display: flex;
    justify-content: center;
    padding: 6px 24px;
  }

  &.icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &.rounded {
    border-radius: 12px;
  }
}
