.collapse {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-bottom: 12px;

  .button {
    bottom: -16px;
    position: absolute;
    transition: background-color 0.3s;
  }

  div:first-child {
    width: 100%;
    position: relative;
  }
}
