.header {
  position: sticky;
  top: 0;
  padding: 12px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;

  > .setting {
    display: flex;
    flex-direction: row;
    gap: 24px;
    padding: 12px 24px;
    border-radius: 24px;
  }
}
