.iconlabel {
  display: flex;
  flex-direction: column;
  padding-bottom: 12px;
  margin-top: 12px;
  cursor: pointer;

  .icon {
    display: flex;
    justify-content: center;
    padding-bottom: 12px;
  }

  .label {
    display: flex;
    justify-content: center;
  }
}
