.itemcard {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 12px;
  cursor: pointer;

  .pics {
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .title {
    display: flex;
    justify-content: space-between;
  }

  .description {
    display: -webkit-box;
    -webkit-line-clamp: 1; /* 두 줄로 제한 */
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}
